
* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}
img {
            max-width: 50%;
            height: auto;
            float: right;
            margin: 1em;
        }

a {
  text-decoration: none;
  color: #000000;
}
